.sidebar{

  border-style:solid;
  border-color:black;
  border-width:2px;
  float:left;
  height:95%;
	width: 35%;

}

table{

	margin:10px;
	border: 1px groove black;
	width:90%;


}

td{

	margin:2px
	border: 2px;

}

.dataDisplay{
  
  margin:10px;
  
  
  
}

em{

	margin:10px

}

#dataTable{

	margin:10px;
	border: 1px groove black;
	width:60%;

}
    
