.title{
	text-align:center;
}

h1{}

.floatLeft {float: left; }
.floatRight {float: center; }

.container {
        width: 350px;
        clear: both;
}
.container input {
        width: 100%;
        clear: both;
}
