.title{
	text-align:center;
}

h1{}

.floatLeft {float: left; }
.floatMiddle {float: center; }

.container {
		-webkit-appearance:none
		-webkit-box-shadow:none
		box-shadow:none;
        width: 350px;
        clear: both;
}
.container input {
        width: 100%;
        clear: both;
}

select {
	width: 100%;
}
